:root,
[data-theme=light] {
    --heo-white: #fff;
    --heo-white-op: rgba(255, 255, 255, 0.2);
    --heo-black: #000;
    --heo-black-op: rgba(0, 0, 0, 0.2);
    --heo-none: #00000000;
    --heo-gray: #999999;
    --heo-gray-op: #9999992b;
    --heo-vip: #e5a80d;
    --heo-main: var(--heo-theme);
    --heo-main-op: var(--heo-theme-op);
    --heo-main-op-deep: var(--heo-theme-op-deep);
    --heo-main-none: var(--heo-theme-none);
    --heo-shadow-theme: 0 8px 12px -3px var(--heo-theme-op);
    --heo-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
    --heo-shadow-main: 0 8px 12px -3px var(--heo-main-op);
    --heo-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
    --heo-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
    --heo-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
    --heo-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
    --heo-shadow-red: 0 8px 12px -3px #ee7d7936;
    --heo-shadow-green: 0 8px 12px -3px #87ee7936;
    --heo-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    --heo-snackbar-time: 5s;
    --heo-theme: #49b1f5;
    --heo-theme-op: #4259ef23;
    --heo-theme-op-deep: #49b1f5dd;
    --heo-theme-none: #4259ef01;
    --heo-blue: #425AEF;
    --heo-red: #f04a63;
    --heo-pink: #FF7C7C;
    --heo-green: #57bd6a;
    --heo-yellow: #c28b00;
    --heo-yellow-op: #d99c001a;
    --heo-orange: #e38100;
    --heo-fontcolor: #363636;
    --heo-background: #f7f9fe;
    --heo-reverse: #000;
    --heo-maskbg: rgba(255, 255, 255, 0.6);
    --heo-maskbgdeep: rgba(255, 255, 255, 0.85);
    --heo-hovertext: var(--heo-main);
    --heo-ahoverbg: #F7F7FA;
    --heo-lighttext: var(--heo-main);
    --heo-secondtext: rgba(60, 60, 67, 0.8);
    --heo-scrollbar: rgba(60, 60, 67, 0.4);
    --heo-card-btn-bg: #edf0f7;
    --heo-post-blockquote-bg: #fafcff;
    --heo-post-tabs-bg: #f2f5f8;
    --heo-secondbg: #f1f3f8;
    --heo-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --heo-card-bg: #fff;
    --heo-card-bg-op: var(--heo-black-op);
    --heo-card-bg-none: rgba(255, 255, 255, 0);
    --heo-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-card-border: #e3e8f7;
    --heo-shadow-border: 0 8px 16px -4px #2c2d300c;
    --style-border: 1px solid var(--heo-card-border);
    --style-border-always: 1px solid var(--heo-card-border);
    --style-border-hover: 1px solid var(--heo-main);
    --style-border-hover-always: 1px solid var(--heo-main);
    --style-border-dashed: 1px dashed var(--heo-theme-op);
    --style-border-forever: 2px solid var(--heo-main);
    --theme-yanzhi-bg: linear-gradient(180deg, rgba(249, 238, 255, 0.54), rgba(191, 223, 255, .35));
    --theme-yanzhi-font-color: #1e128c;
    --theme-yanzhi-secondfont-color: rgb(89 19 97 / 80%);
    --theme-yanzhi-titlelinear-color: linear-gradient(to right, #cd42ec, #3a32d3);
    --theme-yanzhi-icon-color: #cd42ec;
    --theme-menghuan-bg: conic-gradient(from 1.5708rad at 50% 50%, #d6b300 0%, #42A2FF 54%, #d6b300 100%)
}

.color-scheme-dark,
[color-scheme=dark],
[data-theme=dark],
[eagle-extension-theme=dark],
body.dark,
body.dark-open,
body.dark-theme,
html.dark {
    --heo-theme: #49b1f5;
    --heo-theme-op: #f2b94b23;
    --heo-theme-op-deep: #49b1f5dd;
    --heo-theme-none: #f2b94b00;
    --heo-blue: #0084FF;
    --heo-red: #FF3842;
    --heo-pink: #d44040;
    --heo-green: #3e9f50;
    --heo-yellow: #ffc93e;
    --heo-yellow-op: #ffc93e30;
    --heo-orange: #ff953e;
    --heo-fontcolor: #F7F7FA;
    --heo-background: #18171d;
    --heo-reverse: #fff;
    --heo-maskbg: rgba(0, 0, 0, 0.6);
    --heo-maskbgdeep: rgba(0, 0, 0, 0.85);
    --heo-hovertext: #0A84FF;
    --heo-ahoverbg: #fff;
    --heo-lighttext: var(--heo-theme);
    --heo-secondtext: #a1a2b8;
    --heo-scrollbar: rgba(200, 200, 223, 0.4);
    --heo-card-btn-bg: #30343f;
    --heo-post-blockquote-bg: #000;
    --heo-post-tabs-bg: #121212;
    --heo-secondbg: #30343f;
    --heo-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --heo-card-bg: #1d1e22;
    --heo-card-bg-op: var(--heo-white-op);
    --heo-card-bg-none: #1d1b2600;
    --heo-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --heo-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --heo-card-border: #3d3d3f;
    --heo-shadow-border: 0 8px 16px -4px #00000050;
    --style-border: 1px solid var(--heo-card-border);
    --style-border-always: 1px solid var(--heo-card-border);
    --style-border-hover: 1px solid var(--heo-theme);
    --style-border-hover-always: 1px solid var(--heo-theme);
    --style-border-dashed: 1px dashed var(--heo-theme-op);
    --style-border-forever: 2px solid var(--heo-lighttext);
    --theme-yanzhi-bg: linear-gradient(180deg, rgb(33 0 67), rgb(0 42 83));
    --theme-yanzhi-font-color: #e8e5ff;
    --theme-yanzhi-secondfont-color: rgb(255 255 255 / 80%);
    --theme-yanzhi-titlelinear-color: linear-gradient(to right, #ed9dff, #8f89ff);
    --theme-yanzhi-icon-color: #f2b9ff;
    --theme-menghuan-bg: conic-gradient(from 1.5708rad at 50% 50%, #d6b30047 0%, #42A2FF47 54%, #d6b30047 100%)
}

.post-TianliGPT {
    background: var(--heo-secondbg);
    border-radius: 12px;
    padding: 8px;
    line-height: 1.3;
    border: var(--style-border-always);
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    z-index: 0
}

.tianliGPT-title {
    display: flex;
    color: var(--heo-lighttext);
    border-radius: 8px;
    align-items: center;
    padding: 0 12px;
    cursor: default;
    position: relative
}

.tianliGPT-title-text {
    font-weight: 700;
    margin-left: 8px;
    line-height: 1;
    font-size: 15px
}

.tianliGPT-explanation {
    padding: 8px 12px;
    background: var(--heo-card-bg);
    border-radius: 8px;
    border: var(--style-border-always);
    font-size: 15px;
    line-height: 1.4;
    display: block;
    color: var(--heo-fontcolor);
    text-align: justify
}

.tianliGPT-suggestions {
    display: flex;
    flex-wrap: wrap
}

.tianliGPT-suggestions .tianliGPT-suggestions-item {
    margin-top: 12px;
    padding: 8px 12px;
    background: var(--heo-card-bg);
    border-radius: 8px 8px 8px 0;
    border: var(--style-border-always);
    font-size: 15px;
    line-height: 1.4;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 12px;
    cursor: pointer;
    transition: .3s
}

.tianliGPT-suggestions .tianliGPT-suggestions-item:hover {
    background: var(--heo-main);
    color: var(--heo-white)
}

.blinking-cursor {
    background-color: var(--heo-lighttext);
    width: 14px;
    height: 14px;
    border-radius: 16px;
    display: inline-block;
    vertical-align: middle;
    animation: 2s infinite blinking-cursor;
    -webkit-animation: 2s infinite blinking-cursor;
    margin-left: 4px;
    margin-bottom: 3px;
    transform: scale(.6)
}

@keyframes blinking-cursor {

    0%,
    100%,
    50% {
        transform: scale(.6)
    }

    25%,
    75% {
        transform: scale(1)
    }
}

#tianliGPT-tag {
    position: relative;
    font-size: 11px;
    color: var(--heo-secondtext);
    border-radius: 12px;
    margin-left: auto;
    line-height: 12px;
    padding: 0 0 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    outline: 0;
    border: none;
    letter-spacing: 1px;
    background: var(--heo-secondbg);
    overflow: hidden;
    opacity: .6
}

.tianliGPT-tag.loadingAI::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, var(--heo-secondbg) 50%, rgba(255, 255, 255, 0) 100%);
    animation: 1s infinite postchat_shine
}

@keyframes postchat_shine {
    0% {
        left: -100%
    }

    100% {
        left: 100%
    }
}

.tianliGPT-tag.loadedAI::before {
    opacity: 0;
    animation-play-state: paused
}

ins.adsbygoogle {
    margin: 16px 0;
    background: var(--heo-card-bg);
    border-radius: 12px;
    overflow: hidden;
    border: var(--style-border-always)
}

#tianliGPT-Toggle {
    font-size: 12px;
    background: var(--heo-lighttext);
    color: var(--heo-card-bg);
    padding: 4px;
    border-radius: 4px;
    margin-left: 6px;
    transform: scale(.8);
    cursor: pointer;
    transition: .3s;
    font-weight: 700
}

#tianliGPT-Toggle:hover {
    background: var(--heo-fontcolor);
    color: var(--heo-card-bg)
}

.tianliGPT-title-icon {
    width: 22px;
    height: 22px;
    display: flex;
    background: var(--heo-lighttext);
    color: var(--heo-card-bg);
    font-size: 14px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 0
}

.tianliGPT-title-icon svg {
    width: 14px;
    height: 14px;
    fill: var(--heo-card-bg)
}

.tianliGPT-title-icon svg path {
    fill: var(--heo-card-bg)
}

@media screen and (max-width:768px) {
    .post-TianliGPT {
        margin-top: 22px
    }

    .postchat_discuz_mobile .post-TianliGPT {
        max-width: calc(100vw - 46px);
        margin: 16px auto 0
    }
}

.gpttheme_yanzhi #tianliGPT-tag {
    background: 0 0;
    color: var(--theme-yanzhi-secondfont-color);
    padding-left: 2px
}

.gpttheme_simple.post-TianliGPT {
    padding-top: 12px
}

.gpttheme_simple .tianliGPT-title-text {
    font-weight: 400;
    font-size: 14px;
    color: #26b373
}

.gpttheme_simple .tianliGPT-title-icon {
    width: 16px;
    height: 16px;
    background-image: url(/static/icon/TianliGPT-star.svg);
    background-size: cover;
    background-color: var(--heo-secondbg);
    padding: 0
}

.gpttheme_simple .tianliGPT-title-icon svg {
    fill: var(--heo-fontcolor);
    display: none;
    width: 16px;
    height: 16px
}

.gpttheme_simple .tianliGPT-title-icon svg path {
    fill: var(--heo-fontcolor)
}

.gpttheme_simple .tianliGPT-explanation {
    background: var(--heo-secondbg);
    border: none;
    padding: 4px 12px
}

.gpttheme_simple .blinking-cursor {
    background: var(--heo-fontcolor)
}

.gpttheme_yanzhi.post-TianliGPT {
    padding-top: 12px;
    background: var(--theme-yanzhi-bg)
}

.gpttheme_yanzhi .tianliGPT-title-text {
    font-size: 14px;
    color: var(--heo-blue);
    font-weight: 700;
    background-image: var(--theme-yanzhi-titlelinear-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.gpttheme_yanzhi .tianliGPT-title-icon {
    background: 0 0;
    width: 16px;
    height: 16px;
    padding: 0
}

.gpttheme_yanzhi .tianliGPT-title-icon svg {
    width: 16px;
    height: 16px
}

.gpttheme_yanzhi .tianliGPT-title-icon svg path {
    fill: var(--theme-yanzhi-icon-color)
}

.gpttheme_yanzhi .tianliGPT-explanation {
    background: 0 0;
    border: none;
    padding: 4px 12px;
    font-weight: 700;
    color: var(--theme-yanzhi-font-color)
}

.gpttheme_yanzhi .blinking-cursor {
    background: var(--theme-yanzhi-secondfont-color)
}

.gpttheme_menghuan .tianliGPT-title {
    order: 1;
    z-index: 10
}

.gpttheme_menghuan #tianliGPT-tag {
    background: 0 0;
    color: var(--heo-secondtext);
    padding-left: 2px
}

.gpttheme_menghuan.post-TianliGPT {
    padding-bottom: 12px;
    background-color: var(--heo-maskbgdeep);
    border: none
}

.gpttheme_menghuan.post-TianliGPT::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(8px);
    opacity: .4;
    background-image: var(--theme-menghuan-bg);
    transform: scaleX(.99) scaleY(.95) translateY(2px)
}

.gpttheme_menghuan.post-TianliGPT::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 12px;
    background: var(--heo-maskbgdeep)
}

.gpttheme_menghuan .tianliGPT-title-text {
    font-weight: 400;
    font-size: 14px;
    color: #0883b7;
    margin-left: 0
}

.gpttheme_menghuan .tianliGPT-title-icon {
    width: 16px;
    height: 16px;
    background-image: url(/static/icon/TianliGPT-star.svg);
    background-size: cover;
    background-color: var(--heo-none);
    padding: 0;
    display: none
}

.gpttheme_menghuan .tianliGPT-title-icon svg {
    fill: var(--heo-fontcolor);
    display: none;
    width: 16px;
    height: 16px
}

.gpttheme_menghuan .tianliGPT-title-icon svg path {
    fill: var(--heo-fontcolor)
}

.gpttheme_menghuan .tianliGPT-explanation {
    background: 0 0;
    border: none;
    padding: 4px 12px;
    z-index: 10
}

.gpttheme_menghuan .blinking-cursor {
    background: #0883b7
}